@charset "utf-8";

/*====== universal ======*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica";
    font-size: 22px;
    background-color: #87c1bd;
    color: seashell;
    text-align: center;
    min-width: 300px;
    position: relative;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 70px;

}

/*====== header ======*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    width: 100%;
    min-height: 69px;
    border-bottom: 1px solid seashell;
    background-color: #87c1bd;
}

#logo {
    display: flex;
    height: 50px;
    padding: 0 10px;
}

nav span {
    display: inline-block;
    padding: 20px 10px;
}

.menu {


    color: seashell;
}

.menu:hover {
    color: white;
    opacity: 0.8;
}

/*====== mission section ======*/

#mission {
    background-image: url("../img/img-mission-bg.jpg");
    background-color: darkslategrey;
    background-size: auto;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    height: 700px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-top: -70px;
    padding-top: 70px;
}

#band {
    background-color: rgba(10, 20, 20, 0.5);
    padding: 10px;
}

#band > h2 {
    margin-bottom: 20px;
}


/*====== feature section ======*/

#teas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#feature {
    max-width: 1000px;
    margin: 80px auto;
    padding-top: 80px;
    margin-top: 20px;
}

.deco-wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 120px;
}

.deco {
    background-image: url("../img/decoline.png");
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    width: 600px;
    height: 70px;
    margin: 10px auto 50px -300px;
    overflow: hidden;
    opacity: 0.75;
}

.flip {
    margin-top: 50px;
    transform: rotate(180deg);

}

#feature h2 {
    position: absolute;
    overflow: hidden;
    left: 50%;
    width: 1000px;
    height: 100%;
    min-width: 600px;
    margin-left: -500px;
    margin-bottom: 20px;
}

.text-wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 40px;
}

#feature img {
    height: 200px;
    width: 300px;
    margin: 20px 12.5px 10px 12.5px;
}

/*====== locations section ======*/

#locations {
    min-height: 400px;
    max-width: 1180px;
    background-image: url("../img/locations-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    margin: 0 auto;
    padding: 50px 10px;

}

#locations h2 {
    padding: 40px 0 0 0;

}

#branches {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    flex-wrap: wrap;
}

.branch {
    background: rgba(10, 20, 20, 0.5);
    min-width: 300px;
    min-height: 230px;
    margin: 15px 20px;
    padding: 10px 0;
    opacity: 1;
    border-radius: 60%;
}

.branch h3 {
    padding: 25px;

}

.branch a {
    text-decoration: none;
    color: seashell;
}

.branch p {
    font-size: 22px;
    padding: 10px;
}

a span {
    color: rgb(177, 219, 216);
}


/*====== footer ======*/

footer {
    margin: 20px;
}

footer h5 {
    margin: 40px;
}

#contact {
    min-height: 180px;
    padding: 10px;
}

#email {
    letter-spacing: 1px;

}

#copyright h5 {
    margin: 40px 0 30px 0;
    text-align: left;
}